@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 800;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 17px;
}

button {
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  background-color: #0029e4;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #f1f7ff;
  color: #0029e4;
  border: 1px solid #0029e4;
}

hr {
  border: 0;
  height: 2px;
  background-color: gray;
  width: 70%;
  margin: 20px auto;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* .section1-left,
.section1-right {
  min-width: 300px; 
  margin: 10px;
} */

.section1-left {
  text-align: left;
  padding: 0 20px 0 0;
}

.section1-left p {
  margin-bottom: 20px;
  color: gray;
}

.section1-right {
  padding: 0 0 0 20px;
  width: 30%;
}

.section2 {
  background: #f1f7ff;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  padding: 20px;
  text-align: center;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  text-align: center;
}

.section3-header {
  margin-bottom: 20px;
}

/* Add to your existing styles */

.section3-card {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 20px;
  width: 830px;
  margin-bottom: 20px; /* Add space between cards */
  border: 1px solid #ddd; /* Optional: adds a border */
  border-radius: 5px; /* Optional: rounds corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds shadow */
}

.card-image img {
  height: auto;
  margin-right: 20px; /* Space between image and text */
}

.card-content p {
  color: #333; /* Adjust for desired text color */
  margin: 5px 0 0 0; /* Adjust spacing as needed */
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0 5%;
  height: 100px;
  background-color: white;
  line-height: 10px;
}
nav .logo {
  float: left;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 10px;
  font-size: 18px;
  color: #2e384d;
  text-decoration: none;
}

nav .links a:hover {
  border-bottom: 2px solid #2e384d;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2e384d;
  border-radius: 5px;
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
    color: white;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  /* Tablet adjustments */
  .section1-right img {
    display: block; /* Show on tablets */
  }

  .section3-card {
    width: 100%; /* Full width on smaller screens */
    flex-direction: column; /* Stack image and text */
  }

  .card-image,
  .card-content {
    width: 100%; /* Full width for children */
  }
}

@media screen and (max-width: 480px) {
  /* Mobile adjustments */
  .section1-right {
    display: none; /* Hide image on mobile */
  }
  .section1 {
    align-items: center;
  }
  .section3-card {
    width: 100%; /* Adjust width for mobile */
  }
}

/* Card uniformity and design */
.section3-card {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width by default, adjust as needed */
  max-width: 930px; /* Maximum width */
}

.card-image img {
  width: 70px; /* Adjust as needed */
  height: 70px; /* Adjust as needed */
  object-fit: cover; /* Ensures image covers the area */
  margin-right: 20px; /* Space between image and text */
}

.card-content {
  flex: 1; /* Flex grow to fill space */
}

/* .stDataFrameResizable {
  max-width: 100% !important;
  max-height: 100% !important;
} */

.st-emotion-cache-1629p8f.e1nzilvr2 {
  text-align: center;
}

.uploadedFile.st-emotion-cache-12xsiil.e1b2p2ww5 {
  display: none;
}

.row-widget.stButton {
  text-align: center;
}
.block-container.st-emotion-cache-1y4p8pa.ea3mdgi4 {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 100%; */
}

.st-emotion-cache-1roopm1.e1f1d6gn0 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.element-container.st-emotion-cache-1hynsf2.e1f1d6gn2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.st-emotion-cache-r421ms.e10yg2by1 {
  width: 50%;
}
iframe {
  width: 100%;
}

.st-emotion-cache-18edgy2 {
  width: 1258px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.st-emotion-cache-u8hs99.e1b2p2ww14 {
  padding-right: 5rem;
}

.st-emotion-cache-cqussq {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.st-emotion-cache-1h6luow {
  /* width: 710px; */
  width: 80%;
  flex-direction: row;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.st-emotion-cache-1pg3569 {
  display: flex;
  display: flex;
  align-items: center;
}

/* 
.st-emotion-cache-r421ms.e10yg2by1 {
  width: 50%;
  margin-left: 23vw;
}

.st-emotion-cache-5rimss.e1nzilvr5 {
  text-align: justify;
}

.element-container.st-emotion-cache-2fsibt.e1f1d6gn2,
.row-widget.stDownloadButton,
.st-emotion-cache-5rimss.e1nzilvr5,
.st-emotion-cache-1629p8f.e1nzilvr2 {
  width: 80%;
  margin-left: 10vw;
}

.st-emotion-cache-1629p8f.e1nzilvr2 {
  text-align: center;
}
span.st-emotion-cache-10trblm.e1nzilvr1 {
  text-align: left;
}

@media (width <= 700px) {
  .st-emotion-cache-r421ms.e10yg2by1 {
    width: 90%;
    margin-left: 5vw;
  }
} */
