@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* body color */
.appview-container.st-emotion-cache-1wrcr25.ea3mdgi6 {
  background: linear-gradient(to right, #acb6e5, #86fde8) !important;
}

/* page1 */

/* heading */
.st-emotion-cache-zt5igj.e1nzilvr4 {
  display: flex;
  flex-direction: column;
}

/* anchor tag on lest of heading */
a.st-emotion-cache-eczf16.e1nzilvr3 {
  display: none;
}

/* form main body */
.st-emotion-cache-r421ms.e10yg2by1 {
  margin: 15px;
  padding: 15px;
  background: linear-gradient(to right, #141e30, #243b55) !important;
}

/* form name with input body */

.row-widget.stTextInput.st-emotion-cache-6n46u3.e11y4ecf0 {
  padding: 10px 10px 5px 10px;
}

/* color of labels on form */
label.st-emotion-cache-ue6h4q.e1y5xkzn3 {
  color: white;
}

/* register button row styling */
.row-widget.stButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* button style */
button.st-emotion-cache-7ym5gk.ef3psqc6 {
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

button.st-emotion-cache-7ym5gk.ef3psqc6:hover {
  background-color: #0029e4;
  color: white;
}

.st-bd.st-b3.st-be.st-b8.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-b1.st-bo.st-au.st-ax.st-av.st-aw.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bp.st-bq.st-br.st-bs.st-bt.st-bu.st-bv:hover {
  border: 1px solid #0029e4;
}
