@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* body color */
.appview-container.st-emotion-cache-1wrcr25.ea3mdgi6 {
  /* background-color: #c5c6d0; */
}
